.Input__main {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    -webkit-appearance: none;
    background:none;
    border: none;
    padding: 0px;
    padding-left: 20px;
  }

  .Input__main::placeholder {
    color:white;
  }
  
  .Input__main:focus {
    outline: none;
  }

  
  