.Main__container{
    position: relative;
    background-image: url('../assets/bg_main.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.Main__logo{
    position: absolute;
    top: 32px;
    left: 80px;
}

.Main__select-container{
    display: flex;
    justify-items: center;
    align-content: center;
    cursor: pointer;
    margin-top: 225px;
}

.Main__form-container{
    margin-top:30px;
    margin-bottom: 236px;
}

.Main__SignUp-h3{
    margin-right: 21px;
}