.Body__container{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
}
.Body__title{
    flex:1;
    display:flex;
    justify-content: flex-end;
    margin-right: 160px;
    color: #2FCBFC;
}

.Body__text{
    flex:1;
    align-items: center;
    margin-right: 80px;

}