.Hero__container{
    position: relative;
}

.Hero__main-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin:auto;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.Hero__background-img{
    width: 100%;
    max-height: 720px;
    object-fit: fill;
}
.Hero__main-logo{
    align-self: center;
}

.Hero__login-nav{
    position: absolute;
    top: 4px;
    right: 80px;
    color: white;
    cursor: pointer;
}

.Hero__main-h1{
    margin-top: 32px;
    margin-bottom: 0px;
    align-self: center;
    color: white;
}